<div class="row">

	<div class="col-xl-12 col-lg-7">
        <h3>Precio que paga gales</h3>
       <!-- Area Chart -->
       <div class="card shadow mb-4">
         <div class="card-header py-3">
         	<div class="form-row">
	           <div class="form-group col-md-2">
			      <input type="text" class="form-control" id="coin_p" placeholder="Porcentaje abajo del precio gales" onchange="load_coins_data(this.value)">
			    </div>
			   </div>
         </div>
         <div class="card-body" >
           <table id="coinsData" class="display" style="width:100%; font-size:14px">
		     <thead>
		            <tr>
		                <th>Nombre</th>
		                <th>Fino(gr)</th>
		                <th>Peso(gr)</th>
		                <th>Precio</th>
		            </tr>
		        </thead>
		    </table>
         </div>
        </div>
    </div>
</div>
