{% extends "base.html" %} {% block body_content %}
<br />
<br />
<hr />

<div class="row">
	<!-- Earnings (Monthly) Card Example -->
	<div class="col-6 col-lg-3">
		<a href="/watch">
			<div class="card">
				<img class="card-img-top" src="/static/images/watches.png" alt="Card image top" />
				<div class="card-img-overlay"></div>
				<span class="btn btn-block badge badge-secondary text-uppercase">Watches</span>
			</div>
		</a>
	</div>

	<div class="col-6 col-lg-3">
		<a href="/gold">
			<div class="card">
				<img class="card-img-top" src="/static/images/gold.png" alt="Card image top" />
				<div class="card-img-overlay"></div>
				<span class="btn btn-block badge badge-secondary text-uppercase">Gold</span>
			</div>
		</a>
	</div>
	<!-- Pending Requests Card Example -->
	<div class="col-6 col-lg-3">
		<a href="/diamond">
			<div class="card">
				<img class="card-img-top" src="/static/images/diamonds.png" alt="Card image top" />
				<div class="card-img-overlay"></div>
				<span class="btn btn-block badge badge-secondary text-uppercase">Diamond</span>
			</div>
		</a>
	</div>
	<div class="col-6 col-lg-3">
		<a href="/rolex_year">
			<div class="card">
				<img class="card-img-top" src="/static/images/rolex.png" alt="Card image top" />
				<div class="card-img-overlay"></div>
				<span class="btn btn-block badge badge-secondary text-uppercase">AÑO Rolex</span>
			</div>
		</a>
	</div>
</div>
{% endblock %}
