{% extends "base.html" %} {% block body_content %}
<br />
<br />
<hr />

<div class="row">
	<table class="table table-condensed table-stripe">
		<thead>
			<th>Año</th>
			<th>Numero de serie</th>
		</thead>
		<tbody>
			<tr>
				<td>2018</td>
				<td>Random</td>
			</tr>
			<tr>
				<td>2017</td>
				<td>Random</td>
			</tr>
			<tr>
				<td>2016</td>
				<td>Random</td>
			</tr>
			<tr>
				<td>2015</td>
				<td>Random</td>
			</tr>
			<tr>
				<td>2014</td>
				<td>Random</td>
			</tr>
			<tr>
				<td>2013</td>
				<td>Random</td>
			</tr>
			<tr>
				<td>2012</td>
				<td>Random</td>
			</tr>
			<tr>
				<td>2011</td>
				<td>Random</td>
			</tr>
			<tr>
				<td>2010</td>
				<td>G</td>
			</tr>
			<tr>
				<td>2009</td>
				<td>V</td>
			</tr>
			<tr>
				<td>2008</td>
				<td>M OR V</td>
			</tr>
			<tr>
				<td>2007</td>
				<td>M OR Z</td>
			</tr>
			<tr>
				<td>2006</td>
				<td>D OR Z</td>
			</tr>
			<tr>
				<td>2005</td>
				<td>D</td>
			</tr>
			<tr>
				<td>2005</td>
				<td>F</td>
			</tr>
			<tr>
				<td>2004</td>
				<td>F</td>
			</tr>
			<tr>
				<td>2003</td>
				<td>F</td>
			</tr>
			<tr>
				<td>2002</td>
				<td>Y</td>
			</tr>
			<tr>
				<td>2001</td>
				<td>K OR Y</td>
			</tr>
			<tr>
				<td>2000</td>
				<td>K,000,001</td>
			</tr>
			<tr>
				<td>2000</td>
				<td>P,000,001</td>
			</tr>
			<tr>
				<td>1999</td>
				<td>A,000,001</td>
			</tr>
			<tr>
				<td>1998</td>
				<td>U,932,144</td>
			</tr>
			<tr>
				<td>1997</td>
				<td>U,000,001</td>
			</tr>
			<tr>
				<td>1996</td>
				<td>T,000,001</td>
			</tr>
			<tr>
				<td>1995</td>
				<td>W,000,001</td>
			</tr>
			<tr>
				<td>1994</td>
				<td>S,860,880</td>
			</tr>
			<tr>
				<td>1993</td>
				<td>S,000,001</td>
			</tr>
			<tr>
				<td>1992</td>
				<td>C,000,001</td>
			</tr>
			<tr>
				<td>1991</td>
				<td>N,000,001</td>
			</tr>
			<tr>
				<td>1991</td>
				<td>X,000,001</td>
			</tr>
			<tr>
				<td>1990</td>
				<td>E,000,001</td>
			</tr>
			<tr>
				<td>1989</td>
				<td>L,980,000</td>
			</tr>
			<tr>
				<td>1988</td>
				<td>R,598,200</td>
			</tr>
			<tr>
				<td>1987</td>
				<td>R,000,001</td>
			</tr>
			<tr>
				<td>1987</td>
				<td>9,400,000</td>
			</tr>
			<tr>
				<td>1986</td>
				<td>8,900,000</td>
			</tr>
			<tr>
				<td>1985</td>
				<td>8,614,000</td>
			</tr>
			<tr>
				<td>1984</td>
				<td>8,070,022</td>
			</tr>
			<tr>
				<td>1983</td>
				<td>7,400,000</td>
			</tr>
			<tr>
				<td>1982</td>
				<td>7,100,000</td>
			</tr>
			<tr>
				<td>1981</td>
				<td>6,520,870</td>
			</tr>
			<tr>
				<td>1980</td>
				<td>6,434,000</td>
			</tr>
			<tr>
				<td>1979</td>
				<td>5,737,030</td>
			</tr>
			<tr>
				<td>1978</td>
				<td>5,000,000</td>
			</tr>
			<tr>
				<td>1977</td>
				<td>5,008,000</td>
			</tr>
			<tr>
				<td>1976</td>
				<td>4,115,299</td>
			</tr>
			<tr>
				<td>1975</td>
				<td>3,862,196</td>
			</tr>
			<tr>
				<td>1974</td>
				<td>3,567,927</td>
			</tr>
			<tr>
				<td>1973</td>
				<td>3,200,268</td>
			</tr>
			<tr>
				<td>1972</td>
				<td>2,890,459</td>
			</tr>
			<tr>
				<td>1971</td>
				<td>2,589,295</td>
			</tr>
			<tr>
				<td>1970</td>
				<td>2,241,882</td>
			</tr>
			<tr>
				<td>1969</td>
				<td>1,900,000</td>
			</tr>
			<tr>
				<td>1968</td>
				<td>1,752,000</td>
			</tr>
			<tr>
				<td>1967</td>
				<td>1,538,435</td>
			</tr>
			<tr>
				<td>1966</td>
				<td>1,200,000</td>
			</tr>
			<tr>
				<td>1965</td>
				<td>1,100,000</td>
			</tr>
			<tr>
				<td>1964</td>
				<td>1,008,889</td>
			</tr>
			<tr>
				<td>1963</td>
				<td>824,000</td>
			</tr>
			<tr>
				<td>1962</td>
				<td>744,000</td>
			</tr>
			<tr>
				<td>1961</td>
				<td>643,153</td>
			</tr>
			<tr>
				<td>1960</td>
				<td>516,000</td>
			</tr>
			<tr>
				<td>1959</td>
				<td>399,453</td>
			</tr>
			<tr>
				<td>1958</td>
				<td>328,000</td>
			</tr>
			<tr>
				<td>1957</td>
				<td>224,000</td>
			</tr>
			<tr>
				<td>1956</td>
				<td>133,061</td>
			</tr>
			<tr>
				<td>1955</td>
				<td>97,000</td>
			</tr>
			<tr>
				<td>1954</td>
				<td>23,000</td>
			</tr>
			<tr>
				<td>1953</td>
				<td>855,726</td>
			</tr>
			<tr>
				<td>1952</td>
				<td>726,639</td>
			</tr>
			<tr>
				<td>1951</td>
				<td>709,249</td>
			</tr>
			<tr>
				<td>1950</td>
				<td></td>
			</tr>
			<tr>
				<td>1949</td>
				<td></td>
			</tr>
			<tr>
				<td>1948</td>
				<td>628,840</td>
			</tr>
			<tr>
				<td>1947</td>
				<td>529,163</td>
			</tr>
			<tr>
				<td>1946</td>
				<td>367,946</td>
			</tr>
			<tr>
				<td>1945</td>
				<td>302,459</td>
			</tr>
			<tr>
				<td>1944</td>
				<td>269,561</td>
			</tr>
			<tr>
				<td>1943</td>
				<td>230,878</td>
			</tr>
			<tr>
				<td>1942</td>
				<td>143,509</td>
			</tr>
			<tr>
				<td>1941</td>
				<td>106,047</td>
			</tr>
			<tr>
				<td>1940</td>
				<td>99,775</td>
			</tr>
			<tr>
				<td>1939</td>
				<td>71,224</td>
			</tr>
			<tr>
				<td>1938</td>
				<td>43,739</td>
			</tr>
			<tr>
				<td>1937</td>
				<td>40,920</td>
			</tr>
			<tr>
				<td>1936</td>
				<td>36,856</td>
			</tr>
			<tr>
				<td>1935</td>
				<td>34,336</td>
			</tr>
			<tr>
				<td>1934</td>
				<td>30,823</td>
			</tr>
			<tr>
				<td>1933</td>
				<td>29,562</td>
			</tr>
			<tr>
				<td>1932</td>
				<td>29,132</td>
			</tr>
			<tr>
				<td>1931</td>
				<td></td>
			</tr>
			<tr>
				<td>1930</td>
				<td>23,186</td>
			</tr>
			<tr>
				<td>1929</td>
				<td></td>
			</tr>
			<tr>
				<td>1928</td>
				<td>23,969</td>
			</tr>
			<tr>
				<td>1927</td>
				<td>20,190</td>
			</tr>
			<tr>
				<td>1926</td>
				<td>00,001</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
